@import "./custom.scss";
@import "./font.scss";
@import "./mediaqueries.scss";

.about {
  .setting {
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
    width: 100%;
    background: transparent;
    .admin {
      padding-top: 55px;
      width: 100%;
      padding-left: 24px;
      padding-right: 24px;
      .admin_detail {
        .addImage {
          margin-bottom: 22px;
          .uploadImg-container {
            display: inline-block;
            .upload-img {
              width: 100px;
              height: 100px;
              background: #fff;
              color: #a3a3a3;
              font-size: 2.2rem;
              display: flex;
              border-radius: 50%;
              justify-content: center;
              align-items: center;
              border-radius: 60px;
              img {
                height: 100%;
                border-radius: 50%;
              }
            }
            .uploadImg-btn {
              position: absolute;
              z-index: 2;
              top: 56.5px;
              right: -12px;
              width: 45px;
              height: 45px;
              border-radius: 50%;
              border: 2px solid rgb(255 255 255);
              background-color: rgb(233 228 237);
              color: $text;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .uploadBanner {
            width: 100%;
            height: 120px;
            background: #fff;
            color: $text;
            font-size: 1.4rem;
            display: flex;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            flex-direction: column;
            cursor: pointer;
            h4 {
              font-weight: 500;
              font-size: 16px;
              line-height: 18px;
              color: $text;
            }
            p {
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              color: $text;
              margin-top: 8px;
            }
            img {
              height: 100%;
              width: 100%;
            }
          }
          .uploadList {
            background: #fff;
            width: 250px;
            position: absolute;
            top: 100px;
            left: 69px;
            z-index: 5;
            transition: all 0.5s;
            transform: translateX(-102px) translateY(-40px) translateZ(0px)
              scale(0);
            .uploadList-item {
              cursor: pointer;
              user-select: none;
              color: $text;
              display: flex;
              align-items: center;
              padding: 8px 18px 8px 18px;
              min-height: 44px;
              font-size: 17px;
              line-height: 26px;
              // border-bottom: 1px solid #a3a3a3;
              justify-content: space-between;
            }
            .uploadList-item:hover {
              background-color: $primary;
              color: $white-color;
            }
          }
          .btn-primary {
            font-family: "Outfit";
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: $text;
            background: $white-color;
            border: none;
            border-radius: 80px;
            padding: 14px 26px;
            // margin-top: 48px;
            cursor: pointer;
            transition: 0.3s;
            @include media992 {
              padding: 12px 34px;
            }
            @include media768 {
              padding: 14px 60px;
            }
            @include media430 {
              padding: 12px 34px;
            }
          }
          .btn-primary:hover {
            background: $primary;
            color: $white-color;
          }
        }
        h3 {
          // font-family: "Outfit";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          color: $text;
          margin-bottom: 20px;
        }
        .admin_detail-social {
          margin-bottom: 20px;
          .admin_detail-social-grid {
            gap: 12px;
            display: flex;
            flex-wrap: wrap;
            @include media430 {
              flex-direction: column;
            }
            button {
              font-family: "Outfit";
              font-style: normal;
              font-weight: 700;
              font-size: 17.5px;
              line-height: 32px;
              color: $text-secondary;
              border-radius: 18px;
              padding: 3px 22px;
              background: $white-color;
              border: none;
              cursor: pointer;
            }
          }
        }
        .admin_detail-contact {
          .form-control {
            padding-left: 48px;
            margin-bottom: 0px;
          }
          .form-control[name="officeId"] {
            padding-left: 12px;
          }
          .did-floating-label {
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .addImage {
          // General

          h1 {
            margin: 0;
            line-height: 2;
            text-align: center;
          }
          h2 {
            margin: 0 0 0.5em;
            font-weight: normal;
          }
          input {
            position: absolute;
            opacity: 0;
            z-index: -1;
          }
          // Layout
          .row {
            display: flex;
            .col {
              flex: 1;
            }
          }
          /* Accordion styles */
          .tabs {
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
          }
          .tab {
            width: 100%;
            color: white;
            overflow: hidden;
            &-label {
              display: flex;
              justify-content: space-between;
              padding: 1em;
              // background: $midnight;
              background: $white-color;
              color: $text;
              font-weight: bold;
              cursor: pointer;
              /* Icon */
              &:hover {
                background: $primary;
                color: $white-color;
              }
              svg {
                transition: all 0.35s;
              }
            }
            &-content {
              max-height: 0;
              padding: 0 1em;
              color: $text;
              background: #e9e4ed;
              transition: all 0.35s;
              // border: 1px solid $white-color;
              transition: all 0.35s;
              // display: none;
              .imgUploader {
                height: 180px;
                background: #fff;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                cursor: pointer;
                transition: all 0.35s;
                text-align: center;
                @include media992 {
                  height: 150px;
                }
                @include media768 {
                  height: 125px;
                }
                img {
                  height: 100%;
                  width: 100%;
                  border-radius: 15px;
                }
              }
              .uploadImg-btn {
                position: absolute;
                z-index: 2;
                bottom: 51.5px;
                right: 10px;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 2px solid rgb(255, 255, 255);
                background-color: rgb(233, 228, 237);
                color: #4a4a4a;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              .btn-primary {
                padding: 11px 33px !important;
                font-size: 14px !important;
              }
            }
          }

          .tab-label {
            // background: darken($midnight, 10%);
            background: $white-color;
            color: $text;

            &::after {
              transform: rotate(90deg);
            }
          }
          input:checked {
            + .tab-label {
              // background: darken($midnight, 10%);
              svg {
                transition: 0.3s;
                transform: rotate(45deg);
              }
            }
            ~ .tab-content {
              max-height: 100vh;
              padding: 1em;
              display: block;
              transition: all 0.35s;
            }
          }
        }
      }
      .form-label {
        font-size: 16px;
      }
      .form-control {
        font-size: 16px;
        padding: 16px 20px 16px;
      }
      .admin_authentication {
        .schedule {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1rem;
          margin-top: 9px;
          @include media430 {
            flex-direction: column;
            align-items: start;
            gap: 8px;
          }
          h2 {
            font-size: 18px;
          }

          .form-check {
            .tg-list-item {
              .tgl-btn {
                border: 2px solid rgba(255, 255, 255, 0.3);
                width: 3em;
                height: 1.5em;
              }

              .tgl-flat:checked + .tgl-btn {
                border: 2px solid #f2f2f2;
              }
            }
          }
        }
      }
      .btn-save {
        font-family: "Outfit";
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #4a4a4a;
        background: #fff;
        border: none;
        border-radius: 80px;
        padding: 14px 60px;
        cursor: pointer;
        transition: 0.3s;
      }
      .btn-save:hover {
        background: $primary;
        color: $white-color;
      }
    }
  }
  .signup_phone {
    .signup_phone-container {
      .signup_phone-boxs {
        .signup_phone-box {
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-family: "Inter";
          font-weight: 400;
          font-size: 14px;
          color: #000000;
        }
      }
    }
  }
  .form-floating {
    .did-floating-label-content {
      position: relative;
      background: #f6f6f6;
      border-radius: 16px;
      border: 2px solid #fff;
      .did-floating-label {
        top: 7px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #338aff;
        left: 20px;
        background: #f6f6f6;
        position: absolute;
        pointer-events: none;
        padding: 0 5px;
        transition: 0.2s ease all;
      }

      .did-floating-input,
      .did-floating-select {
        display: block;
        width: 100%;
        height: 60px;
        padding: 0 45px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #848484;
        box-sizing: border-box;
        background: #f6f6f6;
        border-radius: 0 16px 16px 0;
        border: 2px solid #f6f6f6;
        text-align: start;
        &:focus {
          outline: none;
          background: $white-color;
          ~ .did-floating-label {
            color: #78c4cb;
            top: 2px;
            font-size: 0.75rem;
            background: transparent;
          }
        }
      }
      .did-floating-select {
        padding-left: 20px;
        padding-top: 14px;
        border-radius: 16px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $black-color;
      }

      select.did-floating-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      select.did-floating-select::-ms-expand {
        display: none;
      }

      .did-floating-input:not(:placeholder-shown) {
        background: $white-color;
        ~ .did-floating-label {
          color: #78c4cb;
          top: 2px;
          font-size: 0.75rem;
          background: transparent;
        }
      }

      .did-floating-select:not([value=""]):valid ~ .did-floating-label {
        top: 7px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #338aff;
        left: 20px;
      }
      .did-floating-select[value=""]:focus ~ .did-floating-label {
        top: 11px;
        font-size: 13px;
      }
      .did-floating-select:not([multiple]):not([size]) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%23003d71'/%3E%3C/svg%3E%0A");
        background-position: right 15px top 50%;
        background-repeat: no-repeat;
      }

      .did-error-input {
        .did-floating-input,
        .did-floating-select {
          border: 2px solid #9d3b3b;
          color: #9d3b3b;
        }
        .did-floating-label {
          font-weight: 600;
          color: #9d3b3b;
        }
        .did-floating-select:not([multiple]):not([size]) {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%239d3b3b'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
  .homePage_container {
    height: unset;
  }

  .homePage_container:has(.addcard) {
    height: 100%;
  }
}
