@import "./custom.scss";
@import "./font.scss";
@import "./mediaqueries.scss";
.devices {
  overflow: hidden;
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 18px;
    color: $text;
    margin-top: 38px;
    margin-left: 48px;
  }
  .devices_content {
    .devices_content_container {
      background: #52459e;
      background: $secondary;
      border-radius: 32px;
      display: flex;
      justify-content: space-between;
      padding: 48px 100px;
      margin: 34px 48px;
      height: 100%;
      @include media1200 {
        margin: 31px 48px;
      }
      @include media992 {
        padding: 70px 48px;
        margin: 31px 24px;
      }
      @include media768 {
        padding: 48px 100px;
        flex-direction: column;
        gap: 20px;
        overflow-y: scroll;
      }
      @include media576 {
        padding: 24px 16px;
        margin: 24px 16px;
      }
      .devices_content_left,
      .devices_content_right {
        text-align: center;
        margin-block: auto;
        h2 {
          font-family: "Inter";
          font-weight: 600;
          font-size: 18px;
          line-height: 18px;
          // color: #ffffff;
          color: $text;
          margin-top: 24px;
          margin-bottom: 16px;
          @include media576 {
            margin-top: 16px;
            margin-bottom: 12px;

            font-weight: 500;
            font-size: 17px;
          }
        }
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 18px;
          // color: $white-color;
          color: $text-secondary;
          @include media576 {
            font-size: 15px;
          }
        }
        .devices-primary {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          // color: #252525;
          // background: #ffffff;
          color: $text;
          background: $bg-primary;
          border-radius: 80px;
          padding: 18px 20px;
          margin-top: 48px;
          cursor: pointer;
          border: none;
          transition: 0.3s;
          @include media576 {
            font-size: 16px;

            padding: 13px 16px;
            margin-top: 20px;
          }
        }
        .devices-primary:hover {
          background: $primary;
          color: $white-color;
        }
      }
      .devices_content_left {
        .devices-primary {
          padding: 18px 40px;
          @include media576 {
            padding: 13px 32px;
          }
        }
      }
      .devices_content_border {
        border: 1px solid #ffffff;
      }
    }
    .devices_content_container::-webkit-scrollbar {
      display: none;
    }
  }
}
