@import "./custom.scss";
@import "./font.scss";
@import "./mediaqueries.scss";

.flaxcode {
  .homePage_container {
    .homePage_container-bottom {
      grid-template-columns: auto 330px;
      margin-top: 36px;
      @include media768 {
        grid-template-columns: unset;
        padding-bottom: 24px;
      }
      .links {
        padding-top: 0px;
        h2 {
          font-weight: 600;
          font-size: 24px;
          color: $text;
          margin-bottom: 48px;
          margin-top: 10px;
        }
        h3 {
          font-size: 18px;
          color: $text-secondary;
        }
        P {
          font-size: 15px;
          color: $text-secondary;
          margin-top: 20px;
        }
        button {
          font-family: "Inter";
          font-weight: 300;
          font-size: 16px;
          line-height: 18px;
          color: $text;
          background: $white-color;
          border: none;
          border-radius: 80px;
          padding: 14px 60px;
          margin-top: 48px;
          cursor: pointer;
          transition: 0.3s;
        }
        button:hover {
          background: $primary;
          color: $white-color;
        }
      }
      .flaxCode-bottom {
        border-left: 3px solid #fff;
        padding: 0 24px;
        h3 {
          font-size: 18px;
          margin-top: 48px;
          color: $text;
        }
        h2 {
          font-family: "Outfit";
          font-weight: 600;
          font-size: 28px;
          color: $text-secondary;
          margin-top: 32px;
          margin-bottom: 16px;
        }
        img {
          width: 125px;
        }
        button {
          font-family: "Inter";
          font-weight: 300;
          font-size: 16px;
          line-height: 18px;
          border: none;
          border-radius: 80px;
          padding: 14px 18px;
          margin-top: 32px;
          cursor: pointer;
          margin-inline: auto;
          display: flex;
          color: $text;
          background: $white-color;
          transition: 0.3s;
        }
        button:hover {
          background: $primary;
          color: $white-color;
        }
      }
      .signup_phone {
        display: none;
      }
    }
  }
}
