@import "./custom.scss";
@import "./font.scss";
@import "./mediaqueries.scss";
.hero {
  // padding: 24px 0;
  padding-bottom: 24px;
  h1,
  h2,
  h3,
  h4,
  h5,
  .btn,
  p,
  a {
    font-family: "Outfit";
    color: #373737;
  }
  .btn-dot {
    background: #ffffff;
    border-radius: 40px;
    border: none;
    padding: 1rem;
    font-size: 3.5rem;
    width: 44px;
    justify-content: center;
    display: flex;
    height: 44px;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: 0.1s;
  }
  .btn-dot:hover {
    background-color: rgb(243, 243, 241);
  }

  .share_link {
    position: fixed;
    inset: 0px;
    z-index: 10011;
    background-color: rgba(10, 11, 13, 0.6);
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px;
    display: flex;
    font-family: inter;
    width: 100%;
    height: 100%;
    align-items: center;
    @include media576 {
      align-items: end;
    }
    .share_link-container {
      flex-direction: column;
      -webkit-box-align: stretch;
      align-items: stretch;
      background: white;
      // border-radius: 16px 16px 0px 0px;
      border-radius: 16px;
      width: 384px;
      padding: 24px 16px;
      position: relative;
      box-shadow: 0px 5 px 1px #6c6d6e;
      @include media576 {
        width: 100%;
      }
      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        font-family: "Inter";
      }
      .share_link-close {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 48px;
        p {
          text-align: center;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #6c6d6e;
        }
        .share_link-close-btn {
          position: absolute;
          right: 8px;
          top: -8px;
          border: none;
          background-color: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px;
          border-radius: 8px;
          cursor: pointer;
        }
        .share_link-close-btn:hover {
          background-color: rgb(243, 243, 241);
        }
      }
      .share_link-links {
        display: flex;
        // gap: 8px;
        flex-direction: column;
        // padding: 0 16px;

        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          transition: 0.1s;
          // padding-top: 16px;
          padding: 16px 12px;
          border-radius: 10px;
        }
        a:hover {
          background: rgb(243, 243, 241);
        }
      }
      .btn-copy {
        display: flex;
        gap: 16px;
        // padding: 0 16px;
        width: 100%;
        padding: 16px 12px;
        justify-content: space-between;
        border: 1px solid rgb(224, 226, 217);
        border-radius: 10px;
        background: transparent;
        cursor: pointer;
        transition: 0.1s;

        p {
          font-weight: 400;
        }
        p.Copied {
          color: rgb(1, 110, 26);
        }
      }
      .btn-copy:hover {
        background-color: rgb(243, 243, 241);
        border: 1px solid rgb(224, 226, 217);
      }
      svg {
        width: 24px;
      }
    }
  }
  .header_content {
    background: linear-gradient(
      211.88deg,
      rgba(2, 128, 190, 0.2) 2.27%,
      rgba(255, 255, 255, 0.2) 48.06%,
      rgba(255, 255, 255, 0.2) 98.45%
    );
    border: 1px solid #ffffff;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 20px 20px;
    margin-top: -80px;
    h1 {
      font-weight: 600;
      font-size: 26px;
      line-height: 33px;
    }
    h2 {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 8px;
    }
    h3 {
      font-weight: 400;
      font-size: 16px;
    }
    h4 {
      font-weight: 500;
      font-size: 22px;
    }
    h5 {
      font-weight: 400;
      font-size: 16px;
      margin-top: 6px;
    }
    span {
      background: rgba(58, 58, 58, 0.2);
      height: 1px;
      width: 100%;
      display: block;
      margin-top: 14px;
      margin-bottom: 10px;
    }
    .btn {
      background: $white-color;
      color: #373737;
      border-radius: 10px;
      font-weight: 400;
      font-size: 16px;
      border: none;
      padding: 16px 20px;
      margin-top: 32px;
      cursor: pointer;
      transition: 0.3s;
    }
    .btn:hover {
      background: #0065e6;
      color: $white-color;
    }

    img {
      border-radius: 50%;
      width: 22%;
    }
  }
  .social_media {
    display: grid;
    gap: 10px;
    margin-top: 20px;

    .social_media-link {
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid #ffffff;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 16px;
      transition: 0.2s;
      svg {
        color: #373737;
        font-size: 1.5rem;
      }
      span {
        width: 60px;
        height: 60px;
        background: #ffffff;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          font-size: 2.5rem;
          color: rgb(185, 50, 144);
        }
      }
      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        color: #373737;
      }
    }
    .social_media-link:hover {
      // box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 12px 0px;
      transform: scale(1.01);
    }
  }
  ._username__featuredLink__MeYB7 {
    background: linear-gradient(
      211.88deg,
      rgba(2, 128, 190, 0.2) 2.27%,
      rgba(255, 255, 255, 0.2) 48.06%,
      rgba(255, 255, 255, 0.2) 98.45%
    );
    border: 0.9725px solid #ffffff;
    backdrop-filter: blur(4.8625px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 19.45px;
    padding: 24px 16px;
    margin-top: 20px;
    h3 {
      font-family: "Outfit";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: #000000;
      margin-bottom: 12px;
    }
    .BaseEmbeddedLink_baseEmbeddedLinkContainer__SlSm5 {
      --container-padding: 1.5rem;
      background-color: var(--black);
      border-radius: var(--link-border-radius);
      display: flex;
      flex-direction: column;
      transition: all 0.5s cubic-bezier(0.74, -0.18, 0.3, 0.48),
        background-color 1.5s ease-in-out;
      padding: var(--container-padding);
      position: relative;
      max-width: unset;
      margin: 0;
      width: 100%;
      padding-top: calc(56.7% - var(--container-padding));
      z-index: 0;
    }
    .EmbeddedYouTube_embeddedVideoIframe__BnmH8,
    .EmbeddedYouTube_embeddedVideoThumbnail__X8kI_,
    .EmbeddedYouTube_featuredLinkEmbeddedVideo__GERzu {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    iframe {
      border-radius: 19.45px;
    }
    .react-player__preview {
      border-radius: 10px;
    }
  }
}
.hero::-webkit-scrollbar {
  display: none;
}
.homePage:has(.hero) {
  .header_content {
    h2,
    h3,
    h5 {
      font-size: 20px;
    }
  }
}
body:has(.share_link) {
  height: 100%;
  overflow: hidden;
}
