@import "./custom.scss";
@import "./font.scss";
@import "./mediaqueries.scss";

.homePage {
  height: 100vh;

  .homePage_container {
    background: $secondary;
    border-radius: 22px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 250px auto;
    @include media992 {
      grid-template-columns: 90px auto;
    }
    @include media768 {
      grid-template-columns: unset;
      overflow-y: scroll;
      padding-bottom: 24px;
    }
    .sidebar {
      // border-right: unset;

      @include media1200 {
        min-width: unset;
        max-width: unset;
      }
      @include media992 {
        position: unset;
        z-index: 1;
        right: 0;
        width: unset;
        min-width: 90px;
        max-width: 90px;
        ul {
          list-style: none;
        }
      }
      @include media768 {
        min-width: unset;
        max-width: unset;
        padding-bottom: 0.5rem;
        border-bottom: 3px solid #fff;
        border-right: unset;
      }
      .sidebar-collapse {
        padding-inline: 32px;
        @include media992 {
          padding-inline: 16px;
        }
        @include media768 {
          margin-top: 16px;
        }
        @include media576 {
          padding-inline: 8px;
        }
        .sidebar-nav {
          list-style: none;
          @include media768 {
            justify-content: center;
            flex-direction: row;
            align-items: center;
          }
          .nav-link {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            padding: unset;
            padding: 14px 8px;
            justify-content: start;
            @include media992 {
              justify-content: center;
            }

            @include media768 {
              border-radius: 12px;
              padding: 8px 8px;
            }
            svg {
              font-size: 19px;
            }
          }
          .nav-link.delete {
            transition: 0.3s ease-in-out;
            background-color: transparent;
            width: 100%;
            border: none;
          }
          .nav-link.delete:hover {
            background: rgb(255, 255, 255);
            color: rgb(255 0 0 / 70%);
            border-radius: 8px;
            @include media992 {
              border-radius: 25%;
            }
          }
          .nav-link.active {
            // background: rgba(217, 217, 217, 0.2);
            border-radius: 16px;
          }
        }
      }
    }
    .homePage_container-bottom {
      display: grid;
      grid-template-columns: auto 332px;
      // margin-top: 36px;

      @include media768 {
        grid-template-columns: unset;
      }
      .signup_phone {
        padding-bottom: 60px;
        border-left: 3px solid #fff;
        padding: 0 24px;
        @include media768 {
          border-top: 3px solid #fff;
          border-left: none;
        }
        .btn-preview {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 18px;
          color: $white-color;
          border-radius: 80px;
          display: inline-block;
          cursor: pointer;
          margin-top: 24px;
          margin-bottom: 20px;
          background: $white-color;
          color: $text;
          padding: 8px 20px;
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
          transition: 0.3s;
          border: none;
          svg {
            margin-left: 4px;
          }
        }
        .btn-preview:hover {
          background: $primary;
          color: $white-color;
          box-shadow: none;
        }
        .signup_phone-container {
          background: #d7d7d7;
          border-radius: 15px;
          box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.9);
          padding: 0px;
          margin: auto;
          width: 283px;
          height: 583px;
          overflow-x: hidden;
          position: relative;
          overflow-y: scroll;
          @include media768 {
            width: 312px;
            height: 628px;
          }
          @include media576 {
            width: 273px;
            height: 628px;
          }
          @include media430 {
            width: 203px;
            height: 556px;
          }
          .userProile {
            width: 567px;
            transform: scale(0.5) translate(-50%, -50%);
            overflow: hidden;
            position: absolute;
            @include media768 {
              transform: scale(0.55) translate(-41%, -41%);
            }
            @include media576 {
              transform: scale(0.48) translate(-54%, -54%);
            }
            @include media430 {
              transform: scale(0.36) translate(-89%, -89%);
            }
          }
          // .signup_phone-left {
          //   position: absolute;
          //   top: 21%;
          //   left: -3px;
          //   display: flex;
          //   flex-direction: column;

          //   span:nth-child(1) {
          //     width: 3px;
          //     height: 30px;
          //     background: #333333;
          //     box-shadow: inset 1px 0px 2px rgba(255, 255, 255, 0.5);
          //     border-radius: 1px 0px 0px 1px;
          //     display: inline-block;
          //   }
          //   span:nth-child(2) {
          //     width: 3px;
          //     height: 62px;
          //     background: #333333;
          //     box-shadow: inset 1px 0px 2px rgba(255, 255, 255, 0.5);
          //     border-radius: 1px 0px 0px 1px;
          //     display: inline-block;
          //     margin-top: 24px;
          //     margin-bottom: 18px;
          //   }
          //   span:nth-child(3) {
          //     width: 3px;
          //     height: 62px;
          //     background: #333333;
          //     box-shadow: inset 1px 0px 2px rgba(255, 255, 255, 0.5);
          //     display: inline-block;
          //   }
          // }
          // .signup_phone-right {
          //   position: absolute;
          //   top: 30%;
          //   right: -3px;
          //   span {
          //     width: 3px;
          //     height: 100px;
          //     background: #333333;
          //     box-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.5);
          //     display: inline-block;
          //   }
          // }
        }
        .signup_phone-container::-webkit-scrollbar {
          display: none;
        }
      }

      .links {
        padding: 14px 24px;
        padding-top: 33px;
        .link_container {
          background: $bg-primary;
          border-radius: 30px;
          text-align: center;
          padding-top: 32px;
          text-align: center;
          display: flex;
          flex-direction: column;

          h2 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            color: $text;
            @include media992 {
              font-size: 15px;
            }
            @include media768 {
              font-size: 16px;
            }
            @include media400 {
              font-size: 13px;
            }
          }
          h3 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: $text-secondary;
            margin-top: 32px;
            margin-bottom: 48px;
            @include media992 {
              margin-bottom: 32px;
              margin-top: 24px;
            }
            @include media400 {
              font-size: 10px;
              line-height: 17px;
              margin-bottom: 24px;
              margin-top: 16px;
            }
          }
          .btn_add {
            font-family: "Inter";
            font-weight: 400;
            font-size: 19px;
            line-height: 27px;
            text-transform: capitalize;
            color: $text;
            background: $white-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
            border-radius: 56px;
            padding: 12px 16px;
            border: none;
            margin-bottom: 44px;
            margin-inline: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            svg {
              font-size: 1.5rem;
            }
            @include media1200 {
              font-size: 14px;
            }
            @include media992 {
              font-size: 13px;
              padding: 12px 9px;
              gap: 5px;
              svg {
                font-size: 1.3rem;
              }
            }
            @include media768 {
              padding: 12px 16px;
              gap: 8px;
              svg {
                font-size: 1.3rem;
              }
            }
            @include media400 {
              font-size: 11px;
              padding: 8px 9px;
              gap: 5px;
              svg {
                font-size: 1.1rem;
              }
            }
          }
          .btn_add:hover {
            background: $primary;
            color: $white-color;
            box-shadow: none;
          }
          img {
            width: 100%;
            height: 245px;
            @include media992 {
              height: 210px;
            }
            @include media768 {
              width: unset;
              height: auto;
            }
          }
        }
      }
      .setting {
        width: 100%;
        overflow-y: scroll;
        position: relative;
        display: inline-block;
        height: 84vh;
      }
      .setting::-webkit-scrollbar {
        display: none;
      }
    }
  }
  // .homePage_container:has(.setting) {
  //   height: unset;
  // }
  .homePage_container::-webkit-scrollbar {
    display: none;
  }
}
