@import "./custom.scss";
@import "./font.scss";
@import "./mediaqueries.scss";
.linkPage {
  // width: 100%;
  // overflow-y: scroll;
  // height: 481px;
  // position: relative;
  // display: inline-block;
  .btn-link {
    background: #ffffff;
    border-radius: 80px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #252525;
    gap: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
  }
  .btn-link:hover {
    background: $primary;
    color: $white-color;
  }
  .addcard_links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    transition: 0.3s;
    .addcard_link {
      display: flex;
      gap: 16px;
      background: $white-color;
      border-radius: 20px;
      padding: 15px 12px;
      align-items: center;
      // cursor: pointer;
      .addcard_link_dot {
        svg {
          transform: scale(1.5);
        }
      }
      svg {
        color: $text;
        font-size: 1.25rem;
      }
      .addcard_link-item-icon {
        background: #3ae432;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          font-size: 28px;
          color: $white-color;
        }
      }
      .addcard_link-list {
        padding: 10px 23px;
        z-index: 10;
        position: absolute;
        min-width: 220px;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        background-color: #ffffff;
        top: 0;
        right: 0;
      }
      .form-check {
        display: flex;
        background: transparent;
        border: none;
        label {
          width: 43px;
          height: 20px;
          position: relative;
          display: block;
          background: $secondary;
          border-radius: 200px;
          // box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.4),
          //   inset 0px -5px 5px rgba(255, 255, 255, 0.4);
          cursor: pointer;
        }
        label:after {
          content: "";
          width: 50%;
          height: 100%;
          position: absolute;
          top: 0px;
          background: linear-gradient(180deg, #ffcc89, #d8860b);
          border-radius: 180px;
          // background: #d9d9d9;
          background: $white-color;
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
          left: 0;
        }
        input {
          width: 0;
          height: 0;
          visibility: hidden;
        }
        input:checked + label {
          background: $primary;
        }
        input:checked + label:after {
          left: 50%;
        }
        label,
        label:after {
          transition: 0.5s;
        }
      }
      .addcard_link-edit {
        margin-left: auto;
        cursor: pointer;
        display: flex;
        gap: 8px;
        .addcard_link-delete {
          svg {
            font-size: 1rem;
            color: $text-secondary;
          }
        }
      }

      p {
        font-size: 18px;
        color: $text;
      }
    }
    .addcard_link.phone {
      .addcard_link-item-icon {
        background-color: #3ae432;
      }
    }
    .addcard_link.twitter {
      .addcard_link-item-icon {
        background-color: #1da1f2;
      }
    }
    .addcard_link.whatsapp {
      .addcard_link-item-icon {
        background-color: #128c7e;
      }
    }
    .addcard_link.linkedin {
      .addcard_link-item-icon {
        background-color: #0a66c2;
      }
    }
    .addcard_link:hover {
      transform: scale(1.02);
    }

    .addcard_link:nth-child(5) {
      .addcard_link-item-icon {
        background: #0a66c2;
        color: $white-color;
      }
    }
    .addcard_link:nth-child(4) {
      .addcard_link-item-icon {
        background: #128c7e;
        color: $white-color;
      }
    }
    .addcard_link:nth-child(6) {
      .addcard_link-item-icon {
        background: linear-gradient(
          45deg,
          #f09433 0%,
          #e6683c 25%,
          #dc2743 50%,
          #cc2366 75%,
          #bc1888 100%
        );
        color: $white-color;
      }
    }
    .addcard_link:nth-child(7) {
      .addcard_link-item-icon {
        background: #1296f4;
        color: $white-color;
      }
    }
    .addcard_link:nth-child(8) {
      .addcard_link-item-icon {
        background: #1da1f2;
        color: $white-color;
      }
    }
    .addcard_link:nth-child(9) {
      .addcard_link-item-icon {
        background: $white-color;
        svg {
          color: #ff0000;
        }
      }
    }
  }
}
.links:has(.linkPage) {
  width: 100%;
  overflow-y: scroll;
  position: relative;
  display: inline-block;
  height: 84vh;
  @include media768 {
    height: unset;
  }
}
.links:has(.linkPage)::-webkit-scrollbar {
  display: none;
}
