@import "./custom.scss";
@import "./font.scss";
@import "./mediaqueries.scss";

.setting {
  background: $secondary;
  // background: #52459e;
  border-radius: 22px;
  margin-left: 16px;
  display: grid;
  margin-right: 16px;
  margin-bottom: 16px;
  height: 100%;
  grid-template-columns: 250px auto;
  @include media992 {
    grid-template-columns: 90px auto;
  }
  @include media768 {
    display: flex;
    flex-direction: column;
  }
  @include media400 {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .sidebar {
    width: unset;
    border-right: unset;
    @include media1200 {
      min-width: unset;
      max-width: unset;
    }
    @include media992 {
      position: unset;
      z-index: 1;
      right: 0;
      width: unset;
      min-width: 90px;
      max-width: 90px;
      ul {
        list-style: none;
      }
    }
    @include media768 {
      min-width: unset;
      max-width: unset;
      padding-bottom: 0px;
      border-bottom: 3px solid #fff;
      border-right: unset;
    }
    .sidebar-collapse {
      padding-inline: 32px;
      padding-bottom: 0.5rem;
      @include media992 {
        padding-inline: 16px;
      }
      @include media768 {
        margin-top: 16px;
      }
      @include media576 {
        padding-inline: 8px;
      }
      .sidebar-nav {
        list-style: none;
        // gap: 32px;
        @include media768 {
          justify-content: center;
          flex-direction: row;
          align-items: center;
        }
        @include media576 {
          gap: 0px;
        }
        .nav-link {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 18px;
          padding: unset;
          padding: 14px 8px;
          justify-content: start;
          @include media992 {
            justify-content: center;
          }
          @include media576 {
            padding: 8px 8px;
          }
          img {
            @include media576 {
              width: 90%;
            }
          }
          svg {
            font-size: 1.6rem;
            @include media576 {
              font-size: 1.1rem;
            }
          }
        }
        .nav-link.active {
          // background: rgba(217, 217, 217, 0.2);
          border-radius: 12px;
          padding: 8px 8px;
        }
      }
    }
  }
  .team_setting {
    padding-top: 48px;
    padding-left: 60px;
    // border: 2px solid #e9e9e9;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    // background: $secondary;
    @include media768 {
      padding-top: 32px;
      padding-left: 24px;
    }
    h3 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 18px;
      color: $text;
      @include media768 {
        font-size: 18px;
      }
    }
    button[type="submit"],
    button[type="button"] {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      display: flex;
      align-items: center;
      background: $bg-primary;
      border-radius: 80px;
      color: $text;
      padding: 18px 64px;
      margin-top: 70px;
      cursor: pointer;
      border: none;
      transition: 0.3s;
      @include media768 {
        padding: 12px 48px;
        margin-top: 32px;
      }
      @include media400 {
        font-size: 14px;
        padding: 10px 30px;
        margin-top: 24px;
      }
    }
    button[type="button"] {
      margin-top: 22px;
      // background: #dbdeff;
      border-radius: 14px;
      padding: 14px 30px;
      cursor: pointer;
    }

    button:hover {
      color: $white-color;
      background: $primary;
    }

    .Company_logo {
      .logo {
        background: $bg-primary;
        border: 1px solid #ffffff;
        border-radius: 16px;
        width: 102px;
        height: 102px;
        margin-top: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media576 {
          width: 80px;
          height: 80px;
        }
        span {
          background: $secondary;
          border-radius: 10px;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.25rem;
          color: $text;
          @include media576 {
            width: 30px;
            height: 30px;
            font-size: 1rem;
          }
        }
      }
    }
    .Company_name {
      margin-top: 26px;
      input {
        width: 400px;
        background: $bg-primary;
        border-radius: 20px;
        padding: 11px 12px;
        padding-right: 24px;
        padding-left: 12px;
        // font-family: "Inter";
        font-family: "Outfit";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: $text;
        border: none;
        box-shadow: unset;
        outline: unset;
        margin-top: 17px;
        @include media768 {
          width: 90%;
        }
        @include media576 {
          font-size: 14px;
          margin-top: 13px;
        }
      }
      input::placeholder {
        color: $text;
      }
    }
  }
  .subscription {
    padding: 64px 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include media768 {
      padding: 32px 24px;
    }
    @include media576 {
      gap: 16px;
    }
    .subscription_plan {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #ffffff;
      padding-bottom: 16px;
      align-items: center;

      h2 {
        font-family: "Inter";
        font-weight: 600;
        font-size: 28px;
        line-height: 18px;
        color: $text;
        @include media768 {
          font-size: 20px;
        }
        @include media576 {
          font-size: 13px;
        }

        @include media400 {
          font-size: 11px;
        }
      }
      button {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: $text;
        border: 1px solid $bg-primary;
        border-radius: 80px;
        background: $bg-primary;
        padding: 18px 48px;
        cursor: pointer;
        transition: 0.3s;
        @include media768 {
          padding: 12px 36px;
          font-size: 16px;
        }
        @include media576 {
          padding: 8px 19px;
          font-size: 13px;
        }
        @include media400 {
          padding: 5px 16px;
          font-size: 11px;
        }
      }
      button:hover {
        background: $primary;
        color: $white-color;
      }
    }
    .subscription_member {
      h3,
      h4 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 18px;
        color: $text;
        @include media576 {
          font-size: 13px;
        }
        @include media400 {
          font-size: 11px;
        }
      }
    }
    .subscription_Team {
      h3 {
        font-weight: 600;
        font-size: 28px;
        line-height: 18px;
        color: $primary;
        @include media576 {
          font-size: 13px;
        }
        @include media400 {
          font-size: 11px;
        }
      }
      h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: $text-secondary;
        @include media576 {
          font-size: 13px;
        }
        @include media400 {
          font-size: 11px;
        }
      }
    }

    .subscription_member,
    .subscription_Team,
    .subscription_charged {
      display: flex;
      justify-content: space-between;
      margin-right: 24px;
      // align-items: center;
      @include media576 {
        margin-right: 0px;
      }
    }
    .subscription_charged {
      h3,
      h4 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: $text;
        line-height: 22px;
        @include media768 {
          font-size: 15.8px;
        }
        @include media576 {
          font-size: 10.8px;
        }
        @include media400 {
          font-size: 8.8px;
        }
      }
      h3 {
        span {
          color: $text-secondary;
          @include media576 {
            font-size: 8px;
          }
        }
      }
    }
  }
  .Support {
    @include media768 {
      padding: 24px 16px;
    }
    .subscription_member,
    .subscription_Team,
    .subscription_charged {
      display: flex;
      justify-content: flex-start;
      margin-right: 0px;
      gap: 48px;
      @include media430 {
        justify-content: space-between;
      }
      @include media768 {
        gap: 42px;
      }
      @include media576 {
        gap: 42px;
      }
      h3 {
        font-family: "Inter";
        font-weight: 400;
        font-size: 22px;
        line-height: 18px;
        color: $text;
        @include media768 {
          font-size: 18px;
        }
        @include media576 {
          font-size: 15px;
        }
        @include media430 {
          font-size: 13px;
        }
      }
      h4 {
        font-family: "Inter";
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: $text-secondary;
        @include media768 {
          font-size: 18px;
        }
        @include media576 {
          font-size: 15px;
        }
        @include media430 {
          font-size: 13px;
        }
      }
    }
    .subscription_member {
      gap: 68px;
      @include media768 {
        gap: 48px;
      }
    }
    .subscription_charged {
      gap: 98px;
      @include media768 {
        gap: 80px;
      }
    }
  }
  .devices {
    text-align: center;
    @include media768 {
      padding-bottom: 16px;
    }
    h1 {
      font-family: "Inter";
      font-weight: 600;
      font-size: 28px;
      line-height: 18px;
      color: $text;
      margin-bottom: 24px;
      @include media768 {
        margin-left: 0px;
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: 32px;
      }
      @include media576 {
        font-size: 15px;
        margin-bottom: 12px;
        margin-top: 24px;
      }
    }
    h2,
    h3 {
      font-family: "Inter";
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: $text-secondary;
      @include media768 {
        font-size: 15px;
      }
      @include media576 {
        font-size: 12px;
      }
    }
    h3 {
      // color: rgba(255, 255, 255, 0.8);
      margin-top: 28px;
      margin-bottom: 48px;
      @include media768 {
        margin-top: 14px;
        margin-bottom: 32px;
      }
      @include media576 {
        margin-top: 6px;
        margin-bottom: 32px;
      }
    }
    img {
      width: 35%;
      @include media576 {
        width: 45%;
      }
      @include media430 {
        width: 50%;
      }
    }
  }
  .admin {
    padding-top: 48px;
    padding-left: 60px;
    padding-right: 60px;
    @include media768 {
      padding-top: 24px;
      padding-left: 24px;
      padding-right: 24px;
    }
    .admin_detail,
    .admin_authentication {
      h1 {
        font-family: "Inter";
        font-weight: 600;
        font-size: 28px;
        line-height: 18px;
        color: $text;
        margin-bottom: 24px;
        @include media768 {
          font-size: 18px;
          margin-bottom: 16px;
        }
      }
      .form-label {
        font-family: "Inter";
        font-weight: 400;
        font-size: 22px;
        line-height: 18px;
        color: $text;
        display: block;
        margin-bottom: 10px;
        @include media768 {
          font-size: 16px;
        }
      }
      .form-control {
        font-family: "Inter";
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        color: $text;
        background: $bg-primary;
        border-radius: 20px;
        width: 100%;
        padding: 16px 12px 16px;
        border: none;
        margin-bottom: 16px;
        outline: none;
        @include media768 {
          font-size: 16px;
          border-radius: 12px;
          padding: 10px 12px 10px;
          margin-bottom: 12px;
        }
      }
      .form-control::placeholder {
        color: $text;
      }
    }

    .admin_authentication {
      .tgl {
        display: none;

        // add default box-sizing for this scope
        &,
        &:after,
        &:before,
        & *,
        & *:after,
        & *:before,
        & + .tgl-btn {
          box-sizing: border-box;
          &::selection {
            background: none;
          }
        }

        + .tgl-btn {
          outline: 0;
          display: block;
          width: 4em;
          height: 2em;
          position: relative;
          cursor: pointer;
          user-select: none;
          @include media768 {
            width: 3em;
            height: 1.5em;
          }
          &:after,
          &:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
          }

          &:after {
            left: 0;
          }

          &:before {
            display: none;
          }
        }

        &:checked + .tgl-btn:after {
          left: 50%;
        }
      }

      .tg-list-item {
        .tgl-btn {
          padding: 2px;
          transition: all 0.2s ease;
          background: transparent;
          border: 4px solid $bg-primary;
          border-radius: 2em;
          @include media768 {
            border: 2px solid $bg-primary;
          }
          &:after {
            transition: all 0.2s ease;
            background: $bg-primary;
            content: "";
            border-radius: 1em;
          }
        }
        .tgl-flat {
          &:checked + .tgl-btn {
            border: 4px solid $primary;
            @include media768 {
              border: 2px solid $primary;
            }
            &:after {
              left: 50%;
              background: $primary;
            }
          }
        }
      }
      h2 {
        font-family: "Inter";
        font-weight: 400;
        font-size: 22px;
        line-height: 18px;
        color: $text;
        @include media768 {
          font-size: 16px;
        }
        @include media430 {
          font-size: 14px;
        }
      }

      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: $text-secondary;
        margin-bottom: 20px;
        @include media768 {
          font-size: 14px;
          margin-bottom: 16px;
        }
        @include media430 {
          font-size: 13px;
          margin-bottom: 14px;
          line-height: 15px;
        }
      }
      button.btn-primary {
        font-family: "Inter";
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: $text;
        background: $bg-primary;
        border-radius: 80px;
        padding: 18px 48px;
        cursor: pointer;
        border: none;
        transition: 0.3s;
        @include media768 {
          padding: 12px 36px;
          font-size: 16px;
        }
        @include media430 {
          padding: 8px 24px;
          font-size: 14px;
        }
      }
      button:hover {
        background: $primary;
        color: $white-color;
      }
    }
  }
}
