@import "./custom.scss";
@import "./font.scss";
@import "./mediaqueries.scss";
.sidebar {
  background: #fff;
  min-width: 240px;
  padding-bottom: 28px;
  border-right: 3px solid #efefef;

  @include media1200 {
    min-width: 90px;
    max-width: 90px;
  }
  @include media400 {
    min-width: 70px;
    max-width: 70px;
  }
  @include media992 {
    // position: absolute;
    // z-index: 1;
    // right: 0;
    // width: auto;
    ul {
      list-style: none;
    }
  }
  @include media992 {
    // position: absolute;
    // z-index: 1;
    // right: 0;
    // width: auto;
    ul {
      list-style: none;
    }
  }

  .sidebar-brand {
    display: block;
    padding-top: 38px;
    padding-left: 13px;
    @include media1200 {
      padding-right: 16px;
    }
    img {
      width: 93.88px;
    }
  }
  .sidebar-collapse {
    margin-top: 48px;
    padding-inline: 13px;
    .btn.btn-primary {
      font-size: 20px;
      p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 18px;
      }

      background: #fff;
      border-radius: 20px;
      color: #848484;
      padding: 18px 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 32px;
      cursor: pointer;
      border: none;
      margin-bottom: 31px;
      @include media1200 {
        margin-top: 70px;
      }
      @include media400 {
        padding: 13px;
        width: unset;
        border-radius: 16px;
      }
    }

    .sidebar-nav {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .nav-box {
        // background: #98c5ff;
        background: #fff;
        border-radius: 20px;
        height: 150px;
      }
      .nav-link {
        padding: 16px 13px;
        gap: 16px;
        display: flex;
        align-items: center;
        // color: $white-color;
        color: #8a898e;
        @include media1200 {
          justify-content: center;
          font-size: 19px;
          padding: 13px 13px;
        }
        p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          // color: $white-color;
          color: #8a898e;
        }
      }
      .nav-link.active {
        // background: #fff;
        // border-radius: 16px;
        // color: #848484;
        background: #52459e;
        border-radius: 16px;
        color: #fefdfe;
        p {
          color: #fefdfe;
        }
      }
    }
  }
}
// .homePage {
//   .homePage_container,

// }
.homePage {
  .homePage_container {
    .sidebar {
      background: #6e56ce;
      border-top-left-radius: 22px;
      border-bottom-left-radius: 22px;
      @include media768 {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 22px;
      }
      .sidebar-collapse {
        .sidebar-nav {
          .nav-item {
            .nav-link.active {
              background-color: $white-color;
              color: #848484;
              border-radius: 12px;
              img {
                filter: invert(63%) sepia(7%) saturate(0%) hue-rotate(212deg)
                  brightness(81%) contrast(90%);
              }
            }
          }
        }
      }
    }
  }
}

.setting {
  .sidebar {
    background: #6e56ce;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    @include media768 {
      border-bottom-left-radius: 0px;
      border-top-right-radius: 22px;
    }
    .sidebar-collapse {
      .sidebar-nav {
        .nav-item {
          .nav-link.active {
            background-color: $white-color;
            color: #848484;
            border-radius: 12px;
            img {
              filter: invert(63%) sepia(7%) saturate(0%) hue-rotate(212deg)
                brightness(81%) contrast(90%);
            }
          }
        }
      }
    }
  }
}
