@import "./custom.scss";
@import "./font.scss";
@import "./mediaqueries.scss";

.signup {
  background: #f0f0f0;
  display: flex;
  overflow-x: auto;
  width: 100%;
  overflow-y: hidden;

  .signup_form-container {
    background: #1d203c;
    padding-top: 40px;
    width: 50%;
    overflow: auto;
    max-width: 720px;
    min-width: 462px;
    @include media992 {
      width: unset;
      overflow: unset;
      max-width: unset;
      min-width: unset;
    }

    @include media576 {
      padding-bottom: 48px;
    }
    .signup_navbar {
      padding: 0 50px;
      .signup_navbar-back {
        display: flex;
        gap: 13px;
        background: transparent;
        border: none;
        cursor: pointer;
        align-items: center;
        svg {
          color: $white-color;
        }
        p {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: $white-color;
        }
      }
      .signup_navbar-tab {
        display: flex;
        gap: 1.5rem;

        button {
          font-family: $primary-font;
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
          color: #bdbdbd;
          padding-bottom: 6px;
          width: 40px;
          text-align: center;
          background: transparent;
          border: none;

          border-bottom: 3px solid #e0e0e0;
          cursor: pointer;
        }
        .signup_navbar-active {
          color: #6dff7c;
          border-bottom: 3px solid #6dff7c;
        }
      }
    }
    .form {
      form {
        .form_or {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          color: #fff;
          display: flex;
          gap: 8px;
          margin-top: 48px;
          align-items: center;
          span {
            width: 100%;
            height: 1px;
            background: #e0e0e0;
          }
        }
        .form_btns {
          display: flex;
          flex-direction: column;
          gap: 16px;
          margin-top: 24px;
          .btn-primary {
            border: 3px solid #e0e0e0;
            border-radius: 100px;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-top: 0;
            transition: 0.3s;
          }
          .btn-primary:hover {
            background: #fffaff;
            color: #333;
          }
        }
        h3 {
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: $white-color;
          margin-top: 30px;
          text-align: center;
          a {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #29aef8;
          }
        }
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          color: #979797;
          margin-top: 60px;
          margin-bottom: 39px;
          a {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            color: #979797;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .signup_promotion {
    min-width: 60%;
    padding-bottom: 100px;
    margin-top: 48px;
    padding: 0 48px;
    h1 {
      font-family: "Outfit";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      color: #2c2c2c;
    }
    h2 {
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -1px;
      color: #1f2732;
    }
    .signup_promotion_cards {
      margin-top: 80px;
      align-items: start;
      .signup_promotion_card {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
